body {
	background: url('electric_blue.png');
	color: white;
}
.full-width-center {
	width: 100%;
	text-align: center;
}
.title {
	color: orange;
	font-size: 4em;
}
@media (max-width: 500px) {
	.title {
		font-size: xx-large;
	}
}
.main {
	display: flex;
	flex-wrap: wrap;
}
/*
START: CSS for movie list
*/
.movie {
	display: flex;
	flex-direction: row;
	flex: 1 1 auto;
	width: 30vw;
	padding: 20px;
}
@media only screen and (max-width: 1000px) {
	.movie {
		width: 100vw;
	}
}
.poster_and_title {
	position: relative;
	flex: 0 0 40%;
	text-align: center;
	display:flex;
	flex-direction: column;
}
.movie_poster {
	width: 100%;
	flex-grow: 1;
}
.description_and_links {
	background-color: darkcyan;
	position: relative;
	flex: 1 1 auto;
	padding: 0px 5px 0px 5px;
	margin-left: 5px;
	border-style: ridge;
	display:flex;
	flex-direction: column;
}
.movie_description{
	flex-grow: 1;
}
.movie_links {
	text-align: center;
}
.bird {
	position: absolute;
	visibility: hidden;
	height: 32px;
	top: -32px;
	right: 0px;
}
.movie:hover .bird {
	visibility: visible;
}
.movie:hover > .description_and_links {
	background-color: orange;
}
/*
END: CSS for movie list
*/

footer > a {
	color: white;
}
